.app-button {
  padding: 8px 20px;
  background: $primary;
  border: 2px solid $primary;
  color: $on-primary;
  border-radius: 5px;
  transition: 0.25s;
  margin: 0 4px;



  &:hover, &:focus {
    background: $on-primary;
    border: 2px solid $primary;
    color: $primary;
  }
}


.btn-sm {
  .app-button{
    padding: 4px 10px;
  }
}
