$base: #fafafa;
$base-light: #ffffff;
$base-dark: #c2c2c2;
$base-darker: #6c757d;
$base-darkest: #2b2b2b;
$on-base: #000000;

$header-color: #ffffff;
$on-header-color: #28a745;

$nav-color: #28a745;
$on-nav-color: #fafafa;
$on-nav-color-light: #ffffff;
$on-nav-color-dark: #c2c2c2;
$on-nav-color-active: #ff9900c4;


$primary: #28a745;
$primary-dark: #2e723e;
$primary-light: #71f790;
$on-primary: #ffffff;

$secondary: #ff9900c4;
$secondary-dark: #d68100c4;
$secondary-light: #ffc062c4;
$on-secondary: #ffffff;

$error: #b00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;
