table {
  font-size: 80%;
}

.main-table thead {
  border: 2px solid #28a745;
}

.main-table thead tr th {
  background: #28a745;
  color: #ffffff;
  font-weight: 500;
}

.table-danger {
  color: #842029;
}

.app-button:disabled {
  border-color: white;
  background-color: #DADADA;
  color: #ffffff;
}