@import "colors";

.btn {
  display: block;

  &.btn-app {
    border-radius: 3px;
    background-color: $base-light;
    border: 1px solid $base-dark;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
  }
}

a {
  text-decoration: none;
}

li {
  border-radius: 2px;
  background-color: $base-light;
  border-left: 2px solid $base-dark;
  margin-bottom: 2px;
  padding: 10px;
}


