@import "colors";

.date-range {
  &_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_dash {
    display: block;
    padding-right: 12px;
  }
}

:host-context(.form-field_m_error) {
  .input {
    border: 1px solid $error;
  }
}
