@import "colors";

.password {
  display: flex;

  &_actions {
    min-width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

:host-context(.form-field_m_error) {
  input {
    border: 1px solid $error;
  }
}
