<div class="line" [ngClass]="shippingLineBackground">
  <div class="viewFooter" (click)="onViewFooter()">
    <i
      class="fas"
      [ngClass]="viewFooter ? 'fa-angle-double-up' : 'fa-angle-double-down'"
    ></i>
  </div>
  <div class="data">
    <div class="header">
      <div class="client">
        {{ shippingLine.client }}
      </div>
    </div>
    <div class="details">
      <div class="item">
        {{ shippingLine.item }}
      </div>
      <div class="batch">
        {{ shippingLine.batch }}
      </div>
      <div class="quantity">{{ shippingLine.quantity }}kg</div>
      <div class="status">
        <i
          class="fas fa-bowling-ball"
          [ngClass]="{
            pending:
              shippingLine.schedulingNotification === 'pending' &&
              shippingLine.shipmentNotification === 'pending',
            scheduled:
              shippingLine.schedulingNotification === 'sent' &&
              shippingLine.shipmentNotification === 'pending',
            sent:
              shippingLine.schedulingNotification === 'sent' &&
              shippingLine.shipmentNotification === 'sent'
          }"
        >
        </i>
      </div>
      <div class="actions">
        <i class="fas fa-eye"></i>
      </div>
    </div>
    <div class="notes">
      <span> <strong>NOTAS:</strong> {{ shippingLine.notes }} </span>
    </div>
    <div class="notes">
      <span> <strong>BODEGA:</strong> {{ shippingLine.warehouse }} </span>
      &nbsp;&nbsp;-&nbsp;&nbsp;
      <span> <strong>UBICACIÓN:</strong> {{ shippingLine.location }} </span>
    </div>
    <div class="footer" *ngIf="viewFooter">
      <span> <strong>Guia:</strong> {{ shippingLine.guide }} </span>
      <span>
        <strong>Transportadora:</strong> {{ shippingLine.carrierCompany }}
      </span>
      <span> <strong>Ejecutivo:</strong> {{ shippingLine.salesAdvisor }} </span>
      <span> <strong>OC:</strong> {{ shippingLine.purchaseOrder }} </span>
    </div>
  </div>
</div>
