@import "mixins";

.line {
  display: flex;
  flex-direction: row;
  padding: 7px;
  border-bottom: 1px solid $base-dark;
  margin-bottom: 5px;
  font-weight: 500;

  .viewFooter {
    font-size: 90%;
    cursor: pointer;
  }

  .data {
    width: 100%;
    margin-left: 10px;

    .header {
      display: flex;
      flex-direction: row;
      .item {
        flex: 0 0 30%;
        padding-right: 10px;
      }
      .quantity {
        flex: 0 0 10%;
        padding-right: 10px;
      }
      .batch {
        flex: 0 0 20%;
        padding-right: 10px;
      }
      .client {
        flex: 0 0 25%;
        padding-right: 10px;
      }
      .status {
        flex: 0 0 5%;
        font-size: 110%;
      }
      .actions {
        flex: 0 0 10%;
        justify-content: right;
        display: grid;
        padding-right: 10px;
      }

      @media (max-width: 991.98px) {
        .item {
          flex: 0 0 40%;
        }
        .quantity {
          flex: 0 0 15%;
        }
        .batch {
          flex: 0 0 30%;
        }
        .status {
          flex: 0 0 5%;
        }
      }
    }
  }
}

.small-show {
  display: none;
}

@media (max-width: 991.98px) {
  // En pantallas pequeñas se ocultan campos small show
  .small-hide {
    display: none;
  }

  .small-show {
    display: block;
  }
}
