@import "colors";

.autocomplete {
  position: relative;

  &_option {
    position: absolute;
  }
}

.option {
  display: flex;
  align-items: center;

  &_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}

:host-context(.form-field_m_error){
  input {
    border: 1px solid $error;
  }
}
